*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background: url(./bf-back.png);
    background-size: contain;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
   
}

body:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(./bf-back.png) 0 0 repeat;
    transform: rotate(30deg);
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: contain;

   
}
.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
.mainbox:after{
    position: absolute;
    content: "";
    width: 10%;
    height: 20%;
    background: url(./left.png) no-repeat;
    background-size: 100%;
    left: 90%;
    top: 42%;
    transform: rotate(0deg);
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    overflow: hidden;
    transition: all ease-in-out;
    transform: rotate(90deg);
}
span{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.span1{
    clip-path: polygon(0 35%, 0 120%, 50% 50%);
    background-color: rgb(106, 1, 155);
}
.span2{
    clip-path: polygon(-20% 45%, 30% 0, 50% 50%);
    background-color: rgb(255, 0, 234);
}
.span3{
    clip-path: polygon(30% 0, 100% 0%, 50% 50%);
    background-color: rgb(58, 15, 78);
}

.box2{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}
.box2 .span1{
    background-color: rgb(106, 1, 155);
}

.font{
    color: white;
    font-size: 22px;
}

.box1 .span1 h5{
    position: absolute;
    top: 60%;
    right: 60%;
    transform: rotate(155deg);
    text-align: center;
}

.box1 .span2 h5{
    position: absolute;
    top: 28%;
    right: 56%;
    transform: rotate(-138deg);
    text-align: center;
}

.box1 .span3 h5{
    position: absolute;
    top: 15%;
    right: 30%;
    transform: rotate(-90deg);
    text-align: center;
}


.box2 .span1 h5{
    position: absolute;
    top: 60%;
    right: 60%;
    transform: rotate(160deg);
    text-align: center;
}

.box2 .span2 h5{
    position: absolute;
    top: 28%;
    right: 60%;
    transform: rotate(-135deg);
    text-align: center;
}

.box2 .span3 h5{
    position: absolute;
    top: 17%;
    right: 28%;
    transform: rotate(279deg);
    text-align: center;
}


.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid white;
    background: violet;
    color: white;
    box-shadow: 0 5px 20px black;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
}

.spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.mainbox.animate:after{
    animation: animateArrow 0.7s ease infinite;
}

audio {
    display: none;
}

@keyframes animateArrow {
    50%{
        right: -50%;
    }
    
}

.target {
    /* border: solid; */
    position: relative;
    width: 500px;
    height: 250px;
   
}
  
  
  .position-absolute {
    position: absolute !important;
  }

  .titulo {
    color: white;
  }

  @media only screen and (max-width: 600px) {
    .mainbox{

        position: relative;
        width: 370px;
        height: 370px;
        margin-top: -180px;
    }

    .target{
        /* border: solid; */
        position: relative;
        width: 360px;
        height: 250px;
        margin-top: 30px;
    }    

   
    .font{
            color: white;
            font-size: 16px;
        }
    }
    
  